@charset "UTF-8";

div{
	margin:1px auto;
	background:#c0c0c0;
	width:1152px;
	height:150px;
}

tr{
	margin:1px 1px;
	background:#c0c0c0;
	width:1152px;
	height:20px;
}

th{
	background:#c0c0c0;
	width:231px;
	height:10px;
}

